/*BODY*/
:root {
    --color-green: #99E2D0; /* var(--color-green) */
    --color-green-font: #008766; /* var(--color-green-font) */
    --color-blue: #89C8FA; /* var(--color-blue) */
    --color-second-blue: #003A68; /* var(--color-second-blue) */
    --color-purple: #9356DC; /* var(--color-purple) */
  }
  
  /*BODY*/
  body {
    margin: 0px auto;
    padding: 0px;
  }
  
  /*HEADER*/
  header {
    display: flex;
    justify-content: center;
  }
  
  header img {
    padding: 16px 0px 14px 0px;
  }

  header a {
    text-decoration: none;
    color: #353535;
    position: absolute;
    top: 22px;
    left: 10px;
  }

  /*MAIN*/ 
  .main {
    position: relative;
    width: 100%;
    height: 800px;
    margin-bottom: 50px;
  }

  .position_img {
    width: 100%;
    height: 400px;
  }

  .position_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .liste_menu {
    position: relative;
    width: 100%;
    padding-top: 10px;
    background-color: #F7F7F7;
    border-radius: 25px 25px 0 0;
    margin-top: -50px;
  }

  .titre_menu {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 30px;
    justify-content:center;
  }

  .titre_menu i {
    width: 16px;
    height: 20px;
  }

  .titre_menu h1 {
    margin: 0;
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    color: #101010;
  }

  .coeur {
    margin: 0;
    height: 20px;
    padding-top: 10px;
  }
  
  .coeur .fa-sharp {
    color: black;
  }
  
  .coeur .fa-solid {
    display: none;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  
  .coeur:hover .fa-sharp {
    display: none;
  }
  
  .coeur:hover .fa-solid {
    display: inline;
  }

  .entrees_menu,
  .plats_menu,
  .desserts_menu {
    padding: 10px;
  }

  .entrees_menu {
    animation: apparition 1s;
    animation-duration: 2s;
  }

  .plats_menu {
    animation: apparition 2s;
    animation-duration: 4s;
  }

  .desserts_menu {
    animation: apparition 3s;
    animation-duration: 6s;
  }

  @keyframes apparition {
    from {
      opacity:0;
    }
    to {
      opacity:1;
    }
  }

  .trait_vert {
    width: 40px;
    height: 2px;
    background-color: var(--color-green);
  }

  .proposition {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 10px 0;
    width: auto;
    overflow: hidden;
  }
  
  .entrees_menu h2,
  .plats_menu h2,
  .desserts_menu h2 {
    margin: 0;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }

  .text_menu {
    width: 70%;
  }

  .text_menu h3 {
    padding: 10px 0px 0px 10px;
    margin: 0;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .text_menu p {
    padding: 0px 0px 10px 10px;
    margin: 0;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .prix_menu {
    transform: translateX(60px);
    transition: transform 1s ease-out;
  }

  .prix_menu p {
    margin: 0;
    padding: 30px 6px 0px 0px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }

  .proposition:hover .prix_menu{
    transform: translateX(0);
  }

  .valide_menu {
    opacity: 0;
    transform: translateX(60px);
    text-align: center;
    padding-top: 22px;
    background-color: var(--color-green);
    color: #fff;
    border-radius: 0px 15px 15px 0px;
    width: 60px;

    transition: transform 0.75s ease-in, opacity 1s ease-out
  }

  .proposition:hover .valide_menu{
    opacity: 1; 
    transform: translateX(0);
  }

  .commander {
    position: relative;
    width: 100%;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  .bouton_commander {
    color: #fff;
    background-image: linear-gradient(#FF79DA, var(--color-purple));
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: 0;
    width: 186px;
    height: 50px;
    transition-property: width, height;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }
  
  .bouton_commander:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.50);
    width: 196px;
    height: 60px;
  }
  
  .bouton_commander {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
  }

  /*FOOTER*/
  .pied {
    position: relative;
    color: #fff;
    background: #353535;
    padding: 20px;
  }
  
  footer a {
    text-decoration: none;
    color: #fff;
  }
  
  .info_footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  
  .pied h1 {
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }
  
  .info_footer p {
    margin: 0;
  }
  
  .info_footer img {
    margin-right: 5px;
  }
  
  .info_footer_img_text {
    display: flex;
    margin-bottom: 5px;
  }

  /* test FOR TABLETTE */
  @media screen and (min-width: 600px) {
    .liste_menu {
      margin: -50px 5% 0 5%;
      padding: 10px 5% 0 5%;
      width: 80%;
    } 

    .commander {
      width: 80%;
      margin: 0  5% 0 5%;
      padding: 10px 5% 20px 5%;
    }

    /*FOOTER*/
    .pied {
      display: flex;
      gap: 10px;
      flex-direction: row-reverse;
      justify-content: right;
      align-items: center;
      text-align: center;
      padding-right: 15px;
    }
      
    .info_footer {
      display: flex;
      gap: 10px;
      padding-right: 10px;
    }
      
    .pied h1 {
      font-family: 'Shrikhand';
      font-style: italic;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }
      
    .info_footer p {
      margin: 0;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
    }
      
    .info_footer img {
      width: 11px;
      height: 13px;
    }
      
    .info_footer_img_text {
      display: flex;
      align-items: center;
    }

  }

  @media screen and (min-width: 900px) {
    .liste_menu {
      margin: -50px 10% 0 10%;
      padding: 10px 10% 0 10%;
      width: 60%;
    } 

    .commander {
      width: 60%;
      margin: 0  10% 0 10%;
      padding: 10px 10% 20px 10%;
    }

    /*FOOTER*/
    .pied {
      display: flex;
      gap: 20px;
      flex-direction: row-reverse;
      justify-content: right;
      align-items: center;
      text-align: center;
      padding-right: 100px;
    }
      
    .info_footer {
      display: flex;
      gap: 20px;
      padding-right: 15px;
    }
      
    .pied h1 {
      font-family: 'Shrikhand';
      font-style: italic;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
    }
      
    .info_footer p {
      margin: 0;
    }
      
    .info_footer img {
      width: 11px;
      height: 13px;
    }
      
    .info_footer_img_text {
      display: flex;
      margin-bottom: 5px;
      align-items: center;
    }
    
  }

  /* test FOR DESKTOP */
  @media screen and (min-width: 1200px) {
    .liste_menu {
      margin: -50px 14% 0 14%;
      padding: 10px 10% 0 10%;
      width: 52%;
    } 

    .commander {
      width: 52%;
      margin: 0  14% 0 14%;
      padding: 10px 10% 20px 10%;
    }

    /*FOOTER*/
    .pied {
      display: flex;
      gap: 20px;
      flex-direction: row-reverse;
      justify-content: right;
      align-items: center;
      text-align: center;
      padding-right: 140px  ;
    }
    
    .info_footer {
      display: flex;
      gap: 20px;
      padding-right: 15px;
    }
    
    .pied h1 {
      font-family: 'Shrikhand';
      font-style: italic;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
    }
    
    .info_footer p {
      margin: 0;
    }
    
    .info_footer img {
      width: 11px;
      height: 13px;
    }
    
    .info_footer_img_text {
      display: flex;
      margin-bottom: 5px;
      align-items: center;
    }

  }