/*BODY*/
:root {
  --color-green: #99E2D0; /* var(--color-green) */
  --color-green-font: #008766; /* var(--color-green-font) */
  --color-blue: #89C8FA; /* var(--color-blue) */
  --color-second-blue: #003A68; /* var(--color-second-blue) */
  --color-purple: #9356DC; /* var(--color-purple) */
}

body {
  margin: 0px auto;
  padding: 0px;
}

/*HEADER*/
header h1 {
  font-family: 'Shrikhand';
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  color: #101010;
}

/*MAIN*/
.formulaire {
  padding: 20px;
  text-align: center;
  background: #EAEAEA;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #353535;
}

.formulaire img {
  width: 12px;
  margin-right: 15px;
}

.localisation {
  display: flex;
  justify-content: center;
  appearance: none;
  border: none; 
  cursor: pointer;
}

.localisation input {
	border: 0;
  background-color: #EAEAEA;
  width: 120px;
}

input:focus {
  outline: none;   
}

.explorer {
  padding: 30px 0;
  font-family: 'Roboto';
  font-style: normal;
  text-align: center;
  background: #F7F7F7;
}

.explorer h1 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.explorer p {
  margin: 10px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #353535;
}

.bouton_explorer {
  width: 210px;
  height: 50px;
  color: #fff;
  background: linear-gradient(200.64deg, var(--color-purple) -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  border: 0;
}

.bouton_explorer p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

/*FONCTIONNEMENT*/
.fonctionnement {
  padding: 20px;
}

.fonctionnement h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.cercle_et_bouton {
  display: flex;
  margin-bottom: 20px;
}

.cercle_et_bouton button {
  display: flex;
  padding-left: 40px;
}

.cercle_un,
.cercle_deux,
.cercle_trois {
  position: absolute;
  margin-top: 20px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--color-purple);
}

.cercle_un p,
.cercle_deux p,
.cercle_trois p {
  margin: 0;
  text-align: center;
  padding-top: 2px;
  color: #fff;
}

.bouton_fonctionnement {
  width: 300px;
  border: 0;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  align-items: center;
  margin-left: 10px;

  transition: background-color 250ms;
}

.bouton_fonctionnement:hover {
  background-color: #F5EDFF;  
}

.bouton_fonctionnement:hover i {
  color: var(--color-purple);  
}

.bouton_fonctionnement p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 20px;
}

/*RESTAURANTS*/
.restaurants {
  padding: 20px;
  background-color: #F7F7F7;
}

.restaurants a {
  text-decoration: none;
}

.restaurants h1 { 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.restaurants h2 {
  color: #000;
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.restaurants p {
  color: #000;
  margin: 10px 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}

.carte_restaurants {
	height: 251px;
	width: 335px;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
  margin-bottom: 50px;
}

.carte_restaurants img {
  object-fit:	cover;  
  width : 335px; 
	height: 174px;
	box-sizing: border-box;
	border: 5px solid #FFFFFF;
	border-radius: 20px 20px 0px 0px;
}

.nouveau {
  position: absolute;
  margin-top: 20px;
  margin-left: 240px;
  width: 80px;
  height: 30px;
  background-color: var(--color-green); 
}

.nouveau p {
  padding: 5px;
  margin: 0;
  color: var(--color-green-font) ;
}

/*
.coeur_test {
  padding: 20px;
  background-image: url('assets/images/svg/coeur_simple.svg');
  display:inline-block;
}

.coeur_test i:focus,
.coeur_test i:active,
.coeur_test i:hover {
  background-image: url('assets/images/svg/coeur_remplis.svg');
}
*/

.coeur {
  padding: 20px;
}

.coeur_bordure i {
  visibility: visible;
  display: block;
  color: #000;
  width: 21px;
  height: 21px;
}

.coeur_bordure i:hover {
  visibility: hidden;
  display: none;
}

.coeur_complet i {
  visibility: hidden;
  display: none;
}

.coeur_complet i:hover {
  visibility: visible;
  display: block;
  color: var(--color-purple);
  width: 21px;
  height: 21px;
}

.coeur_complet i:active {
  visibility: visible;
  display: block;
  color: var(--color-purple);
  width: 21px;
  height: 21px;
}


.description {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  background-color: #fff;
  border-radius: 0px 0px 20px 20px;
}

/*FOOTER*/
footer {
  color: #fff;
  background: #353535;
  padding: 20px;
}

footer a {
  text-decoration: none;
  color: #fff;
}

.info_footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.info_footer h1 {
  font-family: 'Shrikhand';
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.info_footer p {
  margin: 0;
}

.info_footer img {
  margin-right: 5px;
}

.info_footer_img_text {
  display: flex;
  margin-bottom: 5px;
}