/*BODY*/
:root {
  --color-green: #99E2D0; /* var(--color-green) */
  --color-green-font: #008766; /* var(--color-green-font) */
  --color-blue: #89C8FA; /* var(--color-blue) */
  --color-second-blue: #003A68; /* var(--color-second-blue) */
  --color-purple: #9356DC; /* var(--color-purple) */
}

body{
  z-index: 2;
}

/*LOADER*/
.carre_loader {
  background: #353535;
  width: 0;
  height: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: disapear 2s linear 1;
  z-index: 1000!important;
}

.loader {
  display: block;
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: var(--color-purple);
  animation: spin 2s linear 1;
  opacity: 0;
}

.loader::before, 
.loader::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 7px solid transparent;
}

.loader::before {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top-color: rgb(161,112,221);
  animation: spin 3s linear 1;
  opacity: 0;
}

.loader::after {
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  border-top-color: rgb(180,138,233);
  animation: spin 1.5s linear 1;
  opacity: 0;
}

@keyframes disapear {
  0%{
    opacity: 1;
    width: 100vw;
    height: 100vh;
  }
  99%{
    opacity: 1;
    width: 100vw;
    height: 100vh;
  }
  100%{
    opacity: 0;
    width: 0;
    height: 0;
  }
}

@keyframes spin {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  70%{
    opacity: 0;
    transform: rotate(250deg);

  }
  100% {
    opacity: 0;
    transform: rotate(360deg);
  }
}

.text_loader {
  color: #fff;
  position: absolute;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

/*BODY*/

body {
  margin: 0px auto;
  padding: 0px;
}

/*HEADER*/
header {
  display: flex;
  justify-content: center;
}

header img {
  padding: 18px 0px 16px 0px;
}

/*MAIN*/
.formulaire {
  padding: 20px;
  text-align: center;
  background: #EAEAEA;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #353535;
}

.formulaire img {
  width: 12px;
  margin-right: 15px;
}

.localisation {
  display: flex;
  justify-content: center;
  appearance: none;
  border: none; 
  cursor: pointer;
}

.localisation input {
	border: 0;
  background-color: #EAEAEA;
  width: 120px;
}

input:focus {
  outline: none;   
}

.explorer {
  padding: 30px 0;
  font-family: 'Roboto';
  font-style: normal;
  text-align: center;
  background: #F7F7F7;
}

.explorer h1 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.explorer p {
  margin: 10px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #353535;
}

.bouton_explorer {
  margin-top: 20px;
  color: #fff;
  background-image: linear-gradient(#FF79DA, var(--color-purple));
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: 0;
  width: 210px;
  height: 50px;
  transition-property: width, height;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.bouton_explorer:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.50);
  width: 220px;
  height: 60px;
}

.bouton_explorer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

/*FONCTIONNEMENT*/
.fonctionnement {
  padding: 20px;
}

.fonctionnement h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.filtre {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.cercle_et_bouton {
  display: flex;
  margin-bottom: 20px;
  text-align: center;
}

.cercle_et_bouton button {
  display: flex;
  padding-left: 40px;
}

.cercle_un,
.cercle_deux,
.cercle_trois {
  position: absolute;
  margin-top: 20px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--color-purple);
}

.cercle_un p,
.cercle_deux p,
.cercle_trois p {
  margin: 0;
  text-align: center;
  padding-top: 2px;
  color: #fff;
}

button {
  text-decoration: none;
  border: 0;
  border-radius: 20px;
  background: #F7F7F7;
  align-items: center;
  transition: background-color 500ms ease-in;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 20px;
}

button i {
  margin-right: 10px;
}

.bouton_fonctionnement {
  width: 300px;
  border: 0;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  align-items: center;
  margin-left: 10px;

  transition: background-color 500ms ease-in;
}

.bouton_fonctionnement:hover {
  background-color: #F5EDFF;  
}

.bouton_fonctionnement:hover button{
  background-color: #F5EDFF;  
}

.bouton_fonctionnement i {
  transition: color 500ms ease-in;
}

.bouton_fonctionnement:hover i {
  color: var(--color-purple);  
}

/*RESTAURANTS*/
.restaurants {
  padding: 20px;
  background-color: #F7F7F7;
}

.restaurants a {
  text-decoration: none;
}

.restaurants h1 { 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.restaurants h2 {
  color: #000;
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.restaurants p {
  color: #000;
  margin: 10px 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}

.carte_des_restaurants {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 40px;
  justify-content: center;
}

.carte_restaurants {
	height: 251px;
	width: 335px;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
  margin-bottom: 50px;
}

.carte_restaurants img {
  object-fit:	cover;  
  width : 335px; 
	height: 174px;
	box-sizing: border-box;
	border-radius: 20px 20px 0px 0px;
}

.nouveau {
  position: absolute;
  margin-top: 20px;
  margin-left: 240px;
  width: 80px;
  height: 30px;
  background-color: var(--color-green); 
  border-radius: 4px;
}

.nouveau p {
  padding: 5px;
  margin: 0;
  color: var(--color-green-font) ;
}

.coeur {
  height: 20px;
  padding-right: 30px;
  padding-top: 10px;
}

.coeur .fa-sharp {
  color: black;
}

.coeur .fa-solid {
  display: none;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.coeur:hover .fa-sharp {
  display: none;
}

.coeur:hover .fa-solid {
  display: inline;
}

.description {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-top: 10px;
  background-color: #fff;
  border-radius: 0px 0px 20px 20px;
}

/*FOOTER*/
.pied {
  position: relative;
  color: #fff;
  background: #353535;
  padding: 20px;
}

footer a {
  text-decoration: none;
  color: #fff;
}

.info_footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.pied h1 {
  font-family: 'Shrikhand';
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.info_footer p {
  margin: 0;
}

.info_footer img {
  margin-right: 5px;
}

.info_footer_img_text {
  display: flex;
  margin-bottom: 5px;
}

/* test FOR TABLETTE */
@media screen and (min-width: 600px) {

  /*FONCTIONNEMENT*/
  .fonctionnement {
    margin-left: 8%;
    margin-right: 8%;
  }

  /*RESTAURANTS*/
  .restaurants h1 { 
    margin-left: 8%;
    margin-right: 8%;
  }

  /*FOOTER*/
  .pied {
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center;
    text-align: center;
    padding-right: 15px;
  }
    
  .info_footer {
    display: flex;
    gap: 10px;
    padding-right: 10px;
  }
    
  .pied h1 {
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
    
  .info_footer p {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
  }
    
  .info_footer img {
    width: 11px;
    height: 13px;
  }
    
  .info_footer_img_text {
    display: flex;
    align-items: center;
  }

}

@media screen and (min-width: 900px) {

    /*FONCTIONNEMENT*/
    .fonctionnement {
      margin-left: 10%;
      margin-right: 10%;
    }
  
    /*RESTAURANTS*/
    .restaurants h1 { 
      margin-left: 10%;
      margin-right: 10%;
    }

  /*FOOTER*/
  .pied {
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center;
    text-align: center;
    padding-right: 100px;
  }
    
  .info_footer {
    display: flex;
    gap: 20px;
    padding-right: 15px;
  }
    
  .pied h1 {
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }
    
  .info_footer p {
    margin: 0;
  }
    
  .info_footer img {
    width: 11px;
    height: 13px;
  }
    
  .info_footer_img_text {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
  }
  
}

/* test FOR DESKTOP */
@media screen and (min-width: 1200px) {

  /*FONCTIONNEMENT*/
  .fonctionnement {
    margin-left: 14%;
    margin-right: 14%;
  }

  /*RESTAURANTS*/
  .restaurants h1 { 
    margin-left: 14%;
    margin-right: 14%;
  }

  /*FOOTER*/
  .pied {
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center;
    text-align: center;
    padding-right: 140px  ;
  }
  
  .info_footer {
    display: flex;
    gap: 20px;
    padding-right: 15px;
  }
  
  .pied h1 {
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }
  
  .info_footer p {
    margin: 0;
  }
  
  .info_footer img {
    width: 11px;
    height: 13px;
  }
  
  .info_footer_img_text {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
  }

}

@media screen and (min-height: 1050px) and (min-width: 1500px) {
  .pied{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}